.header {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.todo-detail-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.done{
  background-color: rgb(185, 211, 218);
}

.error{
  color:red
}
